{% load static %}
<nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="{% static 'adminplugins/img/logo/logo.png' %}" alt="" /></a>
                <strong><a href="index.html"><img src="{% static 'adminplugins/img/logo/logosn.png'%}" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Profile</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                {% url 'staff_profile' as staff_profile %}
                                <li><a title="Staff Feedback Message" href="{% url 'staff_profile' %}"><span class="mini-sub-pro">Edit Profile</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Staffs</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                 {% url 'staff_home' as staff_home %}
                                <li><a title="All Staffs" href="{% url 'staff_home' %}"><span class="mini-sub-pro">Staff Home</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Attendance</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                {% url 'staff_take_attendance' as staff_take_attendance %}
                                <li><a title="All Courses" href="{% url 'staff_take_attendance' %}"><span class="mini-sub-pro">Take Attendance</span></a></li>
                                {% url 'staff_update_attendance' as staff_update_attendance %}
                                <li><a title="Updat Attendance" href="{% url 'staff_update_attendance' %}"><span class="mini-sub-pro">View Update Attendance</span></a></li>
                            </ul>
                        </li>
                          <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Leave</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                 {% url 'apply_staff_leave' as staff_leave %}
                                <li><a title="All Staffs" href="{% url 'staff_apply_leave' %}"><span class="mini-sub-pro">Apply Leave</span></a></li>
                            </ul>
                        </li>
                          <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Feedback</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                 {% url 'staff_feedback' as feedback %}
                                <li><a title="All Staffs" href="{% url 'staff_feedback' %}"><span class="mini-sub-pro">Staff Feedback</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>